.container {
    height: max-content;
    width: 80%;
    margin: auto;
    min-width: 570px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 5rem;

}

.main-content {
    width: 70%;
    height: max-content;
    margin: var(--xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content-landing-page {
    max-width: 48%;
    margin: var(--xs);
}
.main-content-heading{
    background-color: var(--half-white);
    padding: var(--xs);
    border-radius:var(--xs);
    margin-top: var(--sm);

}
.main-content-example-box{
    background-color: var(--half-white);
    border-radius:var(--xs);
    margin: var(--md);
    padding: var(--sm);
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
}

.main-content-code-view{
    margin: var(--md);
    width: max-content;
    width: inherit;
    
}
.main-heading {
    font-weight: var(--semi-bold);
    padding: var(--md) 0;
}
pre{
    margin-top: 0;
}
.hljs{
    border-radius: var(--xs);
}
.main-img {
    max-width: 50%;
}

.main-button-box {
    margin: var(--md) 0;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}


button {
    background-color: var(--primary-color);
    padding: 8px 16px;
    margin: 16px;
    margin-left: 0;
    border-radius: 4px;
    min-width: 80px;
    max-width: 180px;
    font-size: medium;
    border: 1px solid black;
}

button a {
    color: white;
}

.active {
    color: var(--primary-color);
    /* background-color: #a6a1ff; */
}

