@import url(/CSS/utilities.css);

/* Landing Page Header*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--md);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar-heading {
    font-size: var(--xxl);
}

.navbar-sub-heading {
    font-size: var(--xl);
}

/* Components page header*/
.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.nav-heading {
    font-size: var(--lg);
}

.nav-component-list {
    /* display: inline-flex; */
    display: flex;
    padding: 0;
    /* flex-wrap: wrap; */
    max-width: 70vw;
    overflow: auto;

}

.nav-pills {
    list-style: none;
    font-size: var(--md);
    margin: 0 var(--sm);
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: var(--background-color);
}


::-webkit-scrollbar {
    border-radius: 8px;
    max-height: 12px;
    max-width: 12px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 8px;
}