<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
    <link rel="stylesheet" href="/CSS/utilities.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
</head>

<body>
    <header class="nav">
        <nav class="nav-header">
            <div class="t2">
                <a href="/index.html">Keviv UI</a>
            </div>
            <div class="nav-components">
                <ul class="nav-component-list">
                    <li class="nav-pills"><a href="/components/alerts/alerts.html">Alert</a></li>
                    <li class="nav-pills"><a href="/components/avatars/avatars.html" class="active">Avatar</a></li>
                    <li class="nav-pills"><a href="#">Badge</a></li>
                    <li class="nav-pills"><a href="#">Button</a></li>
                    <li class="nav-pills"><a href="#">Card</a></li>
                    <li class="nav-pills"><a href="#">Image</a></li>
                    <li class="nav-pills"><a href="#">Input</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-content">
            <div class="t4">
                Avatars are used to display a user profile as a picture, an icon, or short text.
            </div>
            <div class="main-content-example-box">
                <img src="/assets/avtar_female.svg" alt="avatar image" class="avatar">
                <img src="/assets/avatar_male.svg" alt="avatar image" class="avatar">
                <img src="/assets/avtar_female.svg" alt="avatar image" class="avatar">
                <img src="/assets/avatar_male.svg" alt="avatar image" class="avatar">

            </div>
            <div class="main-content-code-view">
                <pre>
                    <code class="html">
            &lt;img src="place your image-url here" alt="avatar image" class="avatar"&gt;

            &lt;img src="place your image-url here" alt="avatar image" class="avatar"&gt;

            &lt;img src="place your image-url here" alt="avatar image" class="avatar"&gt;

            &lt;img src="place your image-url here" alt="avatar image" class="avatar"&gt;
                    </code></pre>
            </div>

            <div class="main-content-example-box">
                <img src="/assets/avtar_female.svg" alt="avatar image" class="avatar sm">

                <img src="/assets/avatar_male.svg" alt="avatar image" class="avatar md">
                <!-- <img src="/assets/avatar_neutral.svg" alt="avatar image" class="avatar md"> -->
                <img src="/assets/avtar_female.svg" alt="avatar image" class="avatar lg">

                <img src="/assets/avatar_male.svg" alt="avatar image" class="avatar lg">

            </div>
            <div class="main-content-code-view">
                <pre>
                    <code class="html">
        &lt;img src="place your image-url here" alt="avatar image" class="avatar sm"&gt;

        &lt;img src="place your image-url here" alt="avatar image" class="avatar md"&gt;

        &lt;img src="place your image-url here" alt="avatar image" class="avatar lg"&gt;

        &lt;img src="place your image-url here" alt="avatar image" class="avatar lg"&gt;
                    </code></pre>
            </div>

            <div class="main-content-example-box">
                <img src="/assets/avatar_png.png" alt="avatar image" class="avatar square sm">
                <img src="/assets/avatar_png.png" alt="avatar image" class="avatar square md">
                <img src="/assets/avatar_png.png" alt="avatar image" class="avatar square lg">
                <img src="/assets/avatar_png.png" alt="avatar image" class="avatar square lg">

            </div>
            <div class="main-content-code-view">
                <pre>
                    <code class="html">
        &lt;img src="place your image-url here" alt="avatar image" class="avatar square sm"&gt;

        &lt;img src="place your image-url here" alt="avatar image" class="avatar square md"&gt;

        &lt;img src="place your image-url here" alt="avatar image" class="avatar square lg"&gt;

        &lt;img src="place your image-url here" alt="avatar image" class="avatar square lg"&gt;
                    </code></pre>
            </div>

        </div>
    </main>
    <footer class="footer">
        <ul class="nav-component-list">
            <li class="nav-pills"><a href="/introduction.html">Introduction</a></li>
            <li class="nav-pills"><a href="#">Colors</a></li>
            <li class="nav-pills"><a href="#">Typograpy</a></li>
        </ul>
    </footer>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>