<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images | Keviv UI</title>
    <link rel="stylesheet" href="/CSS/utilities.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
</head>

<body>
    <header class="nav">
        <nav class="nav-header">
            <div class="t2">
                <a href="/index.html">Keviv UI</a>
            </div>
            <div class="nav-components">
                <ul class="nav-component-list">
                    <li class="nav-pills"><a href="/components/alerts/alerts.html">Alert</a></li>
                    <li class="nav-pills"><a href="/components/avatars/avatars.html">Avatar</a></li>
                    <li class="nav-pills"><a href="/components/badges/badges.html">Badge</a></li>
                    <li class="nav-pills"><a href="/components/buttons/buttons.html">Button</a></li>
                    <li class="nav-pills"><a href="/components/cards/cards.html">Card</a></li>
                    <li class="nav-pills"><a href="/components/images/images.html" class="active">Image</a></li>
                    <li class="nav-pills"><a href="/components/inputs/inputs.html">Input</a></li>
                    <li class="nav-pills"><a href="/components/lists/lists.html">List</a></li>
                    <li class="nav-pills"><a href="/components/navigation/navigation.html">Navigation</a></li>
                    <li class="nav-pills"><a href="/components/rating/rating.html">Rating</a></li>
                    <li class="nav-pills"><a href="/components/modal/modal.html">Modal</a></li>
                    <li class="nav-pills"><a href="/components/toast/toast.html">Toast</a></li>
                    <li class="nav-pills"><a href="/components/grids/grids.html">Grids</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-content">
            <div class="t4">
                Responsive Image Components are used to display Images on websites, which are screen responsive. They expand upto the width of the container they are in.
            </div>
            <div class="main-content-heading light">Responsive Image</div>

            <div class="main-content-example-box">
                <img src="/assets/image-head.avif" alt="image" class="img-responsive">
            </div>
            <div class="main-content-code-view">
                <pre>
                <code class="html">
                 &lt;img src="/assets/imagehead.avif" alt="image" class="img-responsive"&gt;
                </code>
            </pre>
            </div>

            <div class="main-content-heading light">Round Image</div>

            <div class="main-content-example-box">
                <img src="/assets/image-round.avif" alt="image" class="img-round">
                <img src="/assets/pink-flower.avif" alt="image" class="img-round">
                <img src="/assets/image-round.avif" alt="image" class="img-round">
            </div>
            <div class="main-content-code-view">
                <pre>
                <code class="html">
                    &lt;img src="/assets/image-round.avif" alt="image" class="img-round"&gt;
                    &lt;img src="/assets/pink-flower.avif" alt="image" class="img-round"&gt;
                    &lt;img src="/assets/image-round.avif" alt="image" class="img-round"&gt;
                </code>
            </pre>
            </div>

        </div>
    </main>
    <footer class="footer">
        <ul class="nav-component-list">
            <li class="nav-pills"><a href="/introduction.html">Introduction</a></li>
            <li class="nav-pills"><a href="#">Colors</a></li>
            <li class="nav-pills"><a href="#">Typograpy</a></li>
        </ul>
    </footer>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>