<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <link rel="stylesheet" href="/CSS/utilities.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
</head>

<body>
    <header class="nav">
        <nav class="nav-header">
            <div class="t2">
                <a href="/index.html">Keviv UI</a>
            </div>
            <div class="nav-components">
                <ul class="nav-component-list">
                    <li class="nav-pills"><a href="/components/alerts/alerts.html">Alert</a></li>
                    <li class="nav-pills"><a href="/components/avatars/avatars.html">Avatar</a></li>
                    <li class="nav-pills"><a href="/components/badges/badges.html">Badge</a></li>
                    <li class="nav-pills"><a href="#" class="active">Button</a></li>
                    <li class="nav-pills"><a href="#">Card</a></li>
                    <li class="nav-pills"><a href="#">Image</a></li>
                    <li class="nav-pills"><a href="#">Input</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-content">
            <div class="t4">
                Buttons are used to display status of a user or the number of notifications/items.
            </div>
            <div class="main-content-heading light">Default buttons</div>

            <div class="main-content-example-box">

                <button class="btn primary-color">Primary</button>
                <button class="btn success-color">Accept</button>
                <button class="btn warning-color">Reject</button>
                <button class="btn danger-color">Delete</button>

            </div>
            <div class="main-content-code-view">
            <pre>
                <code class="html">
            &lt;button class="btn primary-color"&gt;Primary&lt;/button&gt;
            &lt;button class="btn success-color"&gt;Accept&lt;/button&gt;
            &lt;button class="btn warning-color"&gt;Reject&lt;/button&gt;
            &lt;button class="btn danger-color"&gt;Delete&lt;/button&gt;
                </code>
            </pre>
            </div>

            <div class="main-content-heading light">Outline buttons</div>

            <div class="main-content-example-box">

                <button class="btn outline-primary-color">Primary</button>
                <button class="btn outline-success-color">Accept</button>
                <button class="btn outline-warning-color">Reject</button>
                <button class="btn outline-danger-color">Delete</button>

            </div>

            <div class="main-content-code-view">
                <pre>
                    <code class="html">
                &lt;button class="btn outline-primary-color"&gt;Primary&lt;/button&gt;
                &lt;button class="btn outline-success-color"&gt;Accept&lt;/button&gt;
                &lt;button class="btn outline-warning-color"&gt;Reject&lt;/button&gt;
                &lt;button class="btn outline-danger-color"&gt;Delete&lt;/button&gt;
                    </code>
                </pre>
            </div>

            <div class="main-content-heading light">Link buttons</div>

            <div class="main-content-example-box">

                <button class="btn link-primary-color">Primary</button>
                <button class="btn link-success-color">Accept</button>
                <button class="btn link-warning-color">Reject</button>
                <button class="btn link-danger-color">Delete</button>

            </div>

            <div class="main-content-code-view">
                <pre>
                    <code class="html">
                &lt;button class="btn link-primary-color"&gt;Primary&lt;/button&gt;
                &lt;button class="btn link-success-color"&gt;Accept&lt;/button&gt;
                &lt;button class="btn link-warning-color"&gt;Reject&lt;/button&gt;
                &lt;button class="btn link-danger-color"&gt;Delete&lt;/button&gt;
                    </code>
                </pre>
            </div>

            <div class="main-content-heading light">Icon button</div>

            <div class="main-content-example-box">
                <button class="btn primary-color btn-icon"> <img src="/assets/shopping-cart.svg" alt="shopping icon" class="btn-icon-img"> Add to cart</button>
            </div>

            <div class="main-content-code-view">
                <pre>
                    <code class="html">
    &lt;button class="btn primary-color btn-icon"&gt;img src="/assets/shopping-cart.svg" alt="shopping icon" class="btn-icon-img" Add to cart&lt;/button&gt;
                    </code>
                </pre>
            </div>


            <div class="main-content-heading light">Floating action button</div>

            <div class="main-content-example-box">
                <button class="btn primary-color btn-floating-action">+</button>
            </div>

            <div class="main-content-code-view">
                <pre>
                    <code class="html">
    &lt;button class="btn primary-color btn-floating-action"&gt;+&lt;/button&gt;&lt;/div&gt;
                    </code>
                </pre>
            </div>



        </div>
    </main>
    <footer class="footer">
        <ul class="nav-component-list">
            <li class="nav-pills"><a href="/introduction.html">Introduction</a></li>
            <li class="nav-pills"><a href="#">Colors</a></li>
            <li class="nav-pills"><a href="#">Typograpy</a></li>
        </ul>
    </footer>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>


