.toast-container{
    background-color: var(--toast-background-color);
    padding: var(--xs) var(--sm);
    border-radius: var(--xs);
    position: relative;
    color: var(--background-color);
}

.toast-icon{
    position: absolute;
    right: 8px;
    top: 14px;
    cursor: pointer;
}

.toast-text{
    padding-right: var(--sm);
}