<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors | Keviv UI</title>
    <link rel="stylesheet" href="/CSS/utilities.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
</head>

<body>
    <header class="nav">
        <nav class="nav-header">
            <div class="t2">
                <a href="/index.html">Keviv UI</a>
            </div>
            <div class="nav-components">
                <ul class="nav-component-list">
                    <li class="nav-pills"><a href="/components/alerts/alerts.html">Alert</a></li>
                    <li class="nav-pills"><a href="/components/avatars/avatars.html">Avatar</a></li>
                    <li class="nav-pills"><a href="/components/badges/badges.html">Badge</a></li>
                    <li class="nav-pills"><a href="/components/buttons/buttons.html">Button</a></li>
                    <li class="nav-pills"><a href="/components/cards/cards.html">Card</a></li>
                    <li class="nav-pills"><a href="/components/images/images.html">Image</a></li>
                    <li class="nav-pills"><a href="/components/inputs/inputs.html">Input</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-content">
            <div class="t4">
                Inputs are necessary for user interaction with the website. Inputs are used to take information from the user.
            </div>
            <div class="main-content-heading light">Color Palette</div>

            <div class="main-content-example-box">
                <div class="color-palette">
                    <div class="primary-color color-box">Primary color</div>
                    <div class="success-color color-box">Success color</div>
                    <div class="danger-color color-box">Danger color</div>
                    <div class="warning-color color-box">Warning color</div>
                </div>
            </div>
            


        </div>
    </main>
    <footer class="footer">
        <ul class="nav-component-list">
            <li class="nav-pills"><a href="/introduction.html">Introduction</a></li>
            <li class="nav-pills"><a href="/components/colors/colors.html"  class="active">Colors</a></li>
            <li class="nav-pills"><a href="/components/typography/typography.html">Typograpy</a></li>
        </ul>
    </footer>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>