<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal | Keviv UI</title>
    <link rel="stylesheet" href="/CSS/utilities.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
</head>

<body>
    <header class="nav">
        <nav class="nav-header">
            <div class="t2">
                <a href="/index.html">Keviv UI</a>
            </div>
            <div class="nav-components">
                <ul class="nav-component-list">
                    <li class="nav-pills"><a href="/components/alerts/alerts.html">Alert</a></li>
                    <li class="nav-pills"><a href="/components/avatars/avatars.html">Avatar</a></li>
                    <li class="nav-pills"><a href="/components/badges/badges.html">Badge</a></li>
                    <li class="nav-pills"><a href="/components/buttons/buttons.html">Button</a></li>
                    <li class="nav-pills"><a href="/components/cards/cards.html">Card</a></li>
                    <li class="nav-pills"><a href="/components/images/images.html">Image</a></li>
                    <li class="nav-pills"><a href="/components/inputs/inputs.html">Input</a></li>
                    <li class="nav-pills"><a href="/components/lists/lists.html">List</a></li>
                    <li class="nav-pills"><a href="/components/navigation/navigation.html">Navigation</a></li>
                    <li class="nav-pills"><a href="/components/rating/rating.html">Rating</a></li>
                    <li class="nav-pills"><a href="/components/modal/modal.html" class="active">Modal</a></li>
                    <li class="nav-pills"><a href="/components/toast/toast.html">Toast</a></li>
                    <li class="nav-pills"><a href="/components/grids/grids.html">Grids</a></li>
                    <li class="nav-pills"><a href="/components/grids/grids.html">Grids</a></li>





                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-content">
            <div class="main-content-heading light">Simple Modal with action items</div>

            <div class="main-content-example-box">
              <div class="modal-container">
                  <div class="modal-header">Alert!! <div class="modal-head-icon"><i class="far fa-times"></i></div>
                      </div>
                  <div class="modal-body">Something went wrong. Transaction cancelled.</div>
                  <div class="modal-footer">
                      <button class="modal-footer-button btn warning-color">TRY AGAIN</button>
                      <button class="modal-footer-buttonbtn btn danger-color">DECLINE</button>
                  </div>
              </div>
            </div>
            <div class="main-content-code-view">
                <pre>
                <code class="html">
    &lt;div class="modal-container"&gt;
        &lt;div class="modal-header"&gt;
            Alert!! &lt;div class="modal-head-icon"&gt;&lt;i class="far fa-times"&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="modal-body"&gt;Something went wrong. Transaction cancelled.&lt;/div&gt;
        &lt;div class="modal-footer"&gt;
            &lt;button class="modal-footer-button btn warning-color"&gt;TRY AGAIN&lt;/button&gt;
            &lt;button class="modal-footer-buttonbtn btn danger-color"&gt;DECLINE&lt;/button&gt;
        &lt;/div&gt;         
                </code>
            </pre>
            </div>


        </div>
    </main>
    <footer class="footer">
        <ul class="nav-component-list">
            <li class="nav-pills"><a href="/introduction.html">Introduction</a></li>
            <li class="nav-pills"><a href="/components/colors/colors.html">Colors</a></li>
            <li class="nav-pills"><a href="/components/typography/typography.html">Typograpy</a></li>
        </ul>
    </footer>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>